# Applying Advanced Transformations (Core)

## The Data

You will be working with a heavily modified version of the Superheroes dataset from Kaggle.

The dataset includes two csv's:

- superhero_info.csv:
    - Contains Name, Publisher, Demographic Info, and Body measurements.
- superhero_powers.csv:
    - Contains Hero name and list of powers

## The Task

Your task is two-fold:

I. Clean the files and combine them into one final DataFrame.
  - This dataframe should have the following columns:
   - Hero (Just the name of the Hero)
   - Publisher
   - Gender
   - Eye color
   - Race
   - Hair color
   - Height (numeric)
   - Skin color
   - Alignment
   - Weight (numeric)
   - Plus, one-hot-encoded columns for every power that appears in the dataset. E.g.:
       - Agility
       - Flight
       - Superspeed
       - etc.
Hint: There is a space in "100 kg" or "52.5 cm"

II. Use your combined DataFrame to answer the following questions.

Compare the average weight of super powers who have Super Speed to those who do not.
What is the average height of heroes for each publisher?

### Load and Import Data

# PART 1

In [688]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\valma\anaconda3\envs\dojo-env\lib\site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\valma\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (8.1.0)

In [689]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json, os

## importing plotly 
import plotly.express as px

In [690]:
df_info = pd.read_csv('Data/superhero_info - superhero_info.csv')
df_powers = pd.read_csv('Data/superhero_powers - superhero_powers.csv')

In [691]:
df_info.head(15)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"
5,Adam Strange|DC Comics,Male,Human,good,Blond,blue,Unknown,"{'Height': '185.0 cm', 'Weight': '88.0 kg'}"
6,Agent Bob|Marvel Comics,Male,Human,good,Brown,brown,Unknown,"{'Height': '178.0 cm', 'Weight': '81.0 kg'}"
7,Agent Zero|Marvel Comics,Male,Unknown,good,Unknown,Unknown,Unknown,"{'Height': '191.0 cm', 'Weight': '104.0 kg'}"
8,Air-Walker|Marvel Comics,Male,Unknown,bad,White,blue,Unknown,"{'Height': '188.0 cm', 'Weight': '108.0 kg'}"
9,Ajax|Marvel Comics,Male,Cyborg,bad,Black,brown,Unknown,"{'Height': '193.0 cm', 'Weight': '90.0 kg'}"
10,Alan Scott|DC Comics,Male,Unknown,good,Blond,blue,Unknown,"{'Height': '180.0 cm', 'Weight': '90.0 kg'}"
11,Alien|Dark Horse Comics,Male,Xenomorph XX121,bad,No Hair,Unknown,black,"{'Height': '244.0 cm', 'Weight': '169.0 kg'}"
12,Amazo|DC Comics,Male,Android,bad,Unknown,red,Unknown,"{'Height': '257.0 cm', 'Weight': '173.0 kg'}"
13,Ammo|Marvel Comics,Male,Human,bad,Black,brown,Unknown,"{'Height': '188.0 cm', 'Weight': '101.0 kg'}"
14,Angel|Marvel Comics,Male,Unknown,good,Blond,blue,Unknown,"{'Height': '183.0 cm', 'Weight': '68.0 kg'}"

In [692]:
df_powers.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [693]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [694]:
df_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [695]:
df_info['Hero|Publisher'].value_counts()

Spider-Man|Marvel Comics       3
Black Canary|DC Comics         2
Nova|Marvel Comics             2
Toxin|Marvel Comics            2
Batman|DC Comics               2
                              ..
Fabian Cortez|Marvel Comics    1
Exodus|Marvel Comics           1
Evilhawk|Marvel Comics         1
Evil Deadpool|Marvel Comics    1
Zoom|DC Comics                 1
Name: Hero|Publisher, Length: 457, dtype: int64

In [696]:
test_df = df_info.loc[1,'Hero|Publisher']
test_df

'Abe Sapien|Dark Horse Comics'

In [697]:
type(test_df)

str

In [698]:
#json.loads(test_df)

In [699]:
df_info['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [700]:
df_info[['Hero','Publisher']] = df_info['Hero|Publisher'].str.split('|',expand = True)
df_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics

In [701]:
df_info = df_info.drop(columns = ['Hero|Publisher'])
df_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics

### Fixing String Dictionaries

In [702]:
test_mea = df_info.loc[1,'Measurements']
test_mea

"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"

In [703]:
type(test_mea)

str

In [704]:
df_info['Measurements'] = df_info['Measurements'].str.replace("'",'"')
df_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{""Height"": ""203.0 cm"", ""Weight"": ""441.0 kg""}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{""Height"": ""191.0 cm"", ""Weight"": ""65.0 kg""}",Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,"{""Height"": ""185.0 cm"", ""Weight"": ""90.0 kg""}",Abin Sur,DC Comics
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{""Height"": ""203.0 cm"", ""Weight"": ""441.0 kg""}",Abomination,Marvel Comics
4,Male,Human,bad,No Hair,blue,Unknown,"{""Height"": ""193.0 cm"", ""Weight"": ""122.0 kg""}",Absorbing Man,Marvel Comics

In [705]:
df_info['Measurements'] = df_info['Measurements'].apply(json.loads)

In [706]:
df_info["Measurements"].apply(pd.Series)

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [707]:
df_info= pd.concat([df_info,df_info['Measurements'].apply(pd.Series)],axis = 1)
df_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics,185.0 cm,90.0 kg
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics,203.0 cm,441.0 kg
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics,193.0 cm,122.0 kg

In [708]:
df_info = df_info.drop(columns= ['Measurements'])
df_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0 cm,90.0 kg
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0 cm,441.0 kg
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0 cm,122.0 kg

In [709]:
to_replace_cm = ['cm']
to_replace_kg = ['kg']

for char in to_replace_cm:
    df_info['Height'] = df_info['Height'].str.replace(char,'',regex = False)
    
df_info['Height'].head()

0    203.0
1    191.0
2    185.0
3    203.0
4    193.0
Name: Height, dtype: object

In [710]:
to_replace_kg = ['kg']

for char in to_replace_kg:
    df_info['Weight'] = df_info['Weight'].str.replace(char,'',regex = False)

df_info['Weight'].head()

0    441.0
1     65.0
2     90.0
3    441.0
4    122.0
Name: Weight, dtype: object

In [711]:
df_info['Height'] = pd.to_numeric(df_info['Height'], errors='coerce')

In [712]:
df_info['Height']

0      203.0
1      191.0
2      185.0
3      203.0
4      193.0
       ...
458    183.0
459    165.0
460     66.0
461    170.0
462    185.0
Name: Height, Length: 463, dtype: float64

In [713]:
df_info['Weight'] = pd.to_numeric(df_info['Weight'], errors='coerce')

In [714]:
df_info['Weight']

0      441.0
1       65.0
2       90.0
3      441.0
4      122.0
       ...
458     83.0
459     52.0
460     17.0
461     57.0
462     81.0
Name: Weight, Length: 463, dtype: float64

In [715]:
df_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0,90.0
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0,441.0
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0,122.0

# PART 2

## One- Hot - Encode columns for every power that appears.

In [716]:
df_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [717]:
df_powers.head(5)

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [718]:
df_powers.duplicated().sum()

0

In [719]:
df_powers.isnull().sum()

hero_names    0
Powers        0
dtype: int64

In [720]:
df_powers['Powers'].apply(pd.Series)

                                                     0
0           Agility,Super Strength,Stamina,Super Speed
1    Accelerated Healing,Durability,Longevity,Super...
2    Agility,Accelerated Healing,Cold Resistance,Du...
3                                   Lantern Power Ring
4    Accelerated Healing,Intelligence,Super Strengt...
..                                                 ...
662                 Flight,Energy Blasts,Size Changing
663  Cold Resistance,Durability,Longevity,Super Str...
664  Agility,Stealth,Danger Sense,Marksmanship,Weap...
665  Cryokinesis,Telepathy,Magic,Fire Control,Proba...
666  Super Speed,Intangibility,Time Travel,Time Man...

[667 rows x 1 columns]

In [721]:
type('Powers')

str

In [722]:
coord = df_powers.loc[1,'Powers']
print(type(coord))
coord

<class 'str'>

'Accelerated Healing,Durability,Longevity,Super Strength,Stamina,Camouflage,Self-Sustenance'

In [723]:
coord = json.dumps(coord)
coord

'"Accelerated Healing,Durability,Longevity,Super Strength,Stamina,Camouflage,Self-Sustenance"'

In [724]:
coord.replace("

'"Accelerated Healing,Durability,Longevity,Super Strength,Stamina,Camouflage,Self-Sustenance"'

In [732]:
replaced_coord= coord.replace('"',"',''")
replaced_coord

"',''Accelerated Healing,Durability,Longevity,Super Strength,Stamina,Camouflage,Self-Sustenance',''"

In [730]:
replaced_coord.split()

["'Accelerated",
 'Healing,Durability,Longevity,Super',
 "Strength,Stamina,Camouflage,Self-Sustenance'"]

In [731]:
replaced_coord = df_powers.apply(json.loads)

TypeError: the JSON object must be str, bytes or bytearray, not Series

In [575]:
fixed_coord = json.loads(coord)
print(type(fixed_coord))
fixed_coord

<class 'str'>

'Accelerated Healing,Durability,Longevity,Super Strength,Stamina,Camouflage,Self-Sustenance'

In [515]:
df_powers['Powers'].json.dumps()
df_powers

TypeError: string indices must be integers

In [452]:
df_powers['Powers'] = df_powers['Powers'].str.replace("'",'"'),regex= False)

SyntaxError: cannot assign to function call (306201283.py, line 1)

In [335]:
#df_powers['Powers'] = df_powers['Powers'].apply(json.loads)

In [399]:
df_powers

          hero_names                                             Powers
0            3-D Man         Agility,Super Strength,Stamina,Super Speed
1             A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2         Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3           Abin Sur                                 Lantern Power Ring
4        Abomination  Accelerated Healing,Intelligence,Super Strengt...
..               ...                                                ...
662  Yellowjacket II                 Flight,Energy Blasts,Size Changing
663             Ymir  Cold Resistance,Durability,Longevity,Super Str...
664             Yoda  Agility,Stealth,Danger Sense,Marksmanship,Weap...
665          Zatanna  Cryokinesis,Telepathy,Magic,Fire Control,Proba...
666             Zoom  Super Speed,Intangibility,Time Travel,Time Man...

[667 rows x 2 columns]

In [394]:
exploded = df_powers.explode('Powers')
exploded[['hero_names','Powers']].head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [ ]:
#exploded[['hero_names','Powers']].head()

In [ ]:
cols_to_make = exploded['Powers'].dropna().unique()
cols_to_make

In [ ]:
for col in cols_to_make:
    df_powers['Powers'].str.contains(col)
df_powers.head()

In [345]:
#df_powers = df_powers.drop(columns=['Powers'])
#df_powers