# Applying Advanced Transformations (Core)

## The Data

You will be working with a heavily modified version of the Superheroes dataset from Kaggle.

The dataset includes two csv's:

- superhero_info.csv:
    - Contains Name, Publisher, Demographic Info, and Body measurements.
- superhero_powers.csv:
    - Contains Hero name and list of powers

## The Task

Your task is two-fold:

I. Clean the files and combine them into one final DataFrame.
  - This dataframe should have the following columns:
   - Hero (Just the name of the Hero)
   - Publisher
   - Gender
   - Eye color
   - Race
   - Hair color
   - Height (numeric)
   - Skin color
   - Alignment
   - Weight (numeric)
   - Plus, one-hot-encoded columns for every power that appears in the dataset. E.g.:
       - Agility
       - Flight
       - Superspeed
       - etc.
Hint: There is a space in "100 kg" or "52.5 cm"

II. Use your combined DataFrame to answer the following questions.

Compare the average weight of super powers who have Super Speed to those who do not.
What is the average height of heroes for each publisher?

### Load and Import Data

In [117]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\valma\anaconda3\envs\dojo-env\lib\site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\valma\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (8.1.0)

In [118]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json, os

## importing plotly 
import plotly.express as px

In [119]:
df_info = pd.read_csv('Data/superhero_info - superhero_info.csv')
df_powers = pd.read_csv('Data/superhero_powers - superhero_powers.csv')

In [120]:
df_info.head(15)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"
5,Adam Strange|DC Comics,Male,Human,good,Blond,blue,Unknown,"{'Height': '185.0 cm', 'Weight': '88.0 kg'}"
6,Agent Bob|Marvel Comics,Male,Human,good,Brown,brown,Unknown,"{'Height': '178.0 cm', 'Weight': '81.0 kg'}"
7,Agent Zero|Marvel Comics,Male,Unknown,good,Unknown,Unknown,Unknown,"{'Height': '191.0 cm', 'Weight': '104.0 kg'}"
8,Air-Walker|Marvel Comics,Male,Unknown,bad,White,blue,Unknown,"{'Height': '188.0 cm', 'Weight': '108.0 kg'}"
9,Ajax|Marvel Comics,Male,Cyborg,bad,Black,brown,Unknown,"{'Height': '193.0 cm', 'Weight': '90.0 kg'}"
10,Alan Scott|DC Comics,Male,Unknown,good,Blond,blue,Unknown,"{'Height': '180.0 cm', 'Weight': '90.0 kg'}"
11,Alien|Dark Horse Comics,Male,Xenomorph XX121,bad,No Hair,Unknown,black,"{'Height': '244.0 cm', 'Weight': '169.0 kg'}"
12,Amazo|DC Comics,Male,Android,bad,Unknown,red,Unknown,"{'Height': '257.0 cm', 'Weight': '173.0 kg'}"
13,Ammo|Marvel Comics,Male,Human,bad,Black,brown,Unknown,"{'Height': '188.0 cm', 'Weight': '101.0 kg'}"
14,Angel|Marvel Comics,Male,Unknown,good,Blond,blue,Unknown,"{'Height': '183.0 cm', 'Weight': '68.0 kg'}"

In [121]:
df_powers.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [122]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [123]:
df_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [124]:
df_info['Hero|Publisher'].value_counts()

Spider-Man|Marvel Comics       3
Black Canary|DC Comics         2
Nova|Marvel Comics             2
Toxin|Marvel Comics            2
Batman|DC Comics               2
                              ..
Fabian Cortez|Marvel Comics    1
Exodus|Marvel Comics           1
Evilhawk|Marvel Comics         1
Evil Deadpool|Marvel Comics    1
Zoom|DC Comics                 1
Name: Hero|Publisher, Length: 457, dtype: int64

In [125]:
test_df = df_info.loc[1,'Hero|Publisher']
test_df

'Abe Sapien|Dark Horse Comics'

In [126]:
type(test_df)

str

In [127]:
#json.loads(test_df)

In [128]:
df_info['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [129]:
df_info[['Hero','Publisher']] = df_info['Hero|Publisher'].str.split('|',expand = True)
df_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics

In [130]:
df_info = df_info.drop(columns = ['Hero|Publisher'])
df_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics

### Fixing String Dictionaries

In [131]:
test_mea = df_info.loc[1,'Measurements']
test_mea

"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"

In [132]:
type(test_mea)

str

In [133]:
df_info['Measurements'].str.split(',',expand=True)

                         0                       1
0    {'Height': '203.0 cm'   'Weight': '441.0 kg'}
1    {'Height': '191.0 cm'    'Weight': '65.0 kg'}
2    {'Height': '185.0 cm'    'Weight': '90.0 kg'}
3    {'Height': '203.0 cm'   'Weight': '441.0 kg'}
4    {'Height': '193.0 cm'   'Weight': '122.0 kg'}
..                     ...                     ...
458  {'Height': '183.0 cm'    'Weight': '83.0 kg'}
459  {'Height': '165.0 cm'    'Weight': '52.0 kg'}
460   {'Height': '66.0 cm'    'Weight': '17.0 kg'}
461  {'Height': '170.0 cm'    'Weight': '57.0 kg'}
462  {'Height': '185.0 cm'    'Weight': '81.0 kg'}

[463 rows x 2 columns]

In [134]:
df_info[['Height','Weight']] = df_info['Measurements'].str.split(',',expand = True)
df_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,{'Height': '203.0 cm','Weight': '441.0 kg'}
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,{'Height': '191.0 cm','Weight': '65.0 kg'}
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics,{'Height': '185.0 cm','Weight': '90.0 kg'}
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics,{'Height': '203.0 cm','Weight': '441.0 kg'}
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics,{'Height': '193.0 cm','Weight': '122.0 kg'}

In [135]:
df_info = df_info.drop(columns= ['Measurements'])
df_info.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,{'Height': '203.0 cm','Weight': '441.0 kg'}
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,{'Height': '191.0 cm','Weight': '65.0 kg'}
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,{'Height': '185.0 cm','Weight': '90.0 kg'}
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,{'Height': '203.0 cm','Weight': '441.0 kg'}
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,{'Height': '193.0 cm','Weight': '122.0 kg'}

In [153]:
to_replace = ['{""Height','']

for char in to_replace:
    df_info['Height'] = df_info['Height'].str.replace(char,'',regex=False)
    
df_info['Height'].head()

0    {"": "203.0 cm"
1    {"": "191.0 cm"
2    {"": "185.0 cm"
3    {"": "203.0 cm"
4    {"": "193.0 cm"
Name: Height, dtype: object

In [136]:
df_info['Height'] = df_info['Height'].str.replace("'",'"')

In [138]:
df_info['Height'] = df_info['Height'].apply(json.loads)

JSONDecodeError: Expecting ',' delimiter: line 1 column 22 (char 21)

In [141]:
test_df_info = df_info.loc[0,'Height']
test_df_info

'{"Height": "203.0 cm"'

In [142]:
def fix_hei(test_df_info):
    try:
        return json.loads(test_df_info)
    except:
        return 'Error'

In [144]:
df_info['Height'].apply(fix_hei)

0      Error
1      Error
2      Error
3      Error
4      Error
       ...
458    Error
459    Error
460    Error
461    Error
462    Error
Name: Height, Length: 463, dtype: object

In [ ]:
df_info['Height'] = df['location'].apply(fix_address)